
/* Oswald - Medium 500 */
@font-face {
    font-family: Oswald;
    src: local(Oswald), url(../fonts/OswaldMedium.woff2) format(woff2), 
    url(../fonts/Oswald-Medium.ttf) format(ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Oswald - SemiBold 600 */
@font-face {
    font-family: Oswald;
    src: local(Oswald), url(../fonts/OswaldSemiBold.woff2) format(woff2), 
    url(../fonts/Oswald-SemiBold.ttf) format(ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Ubuntu - Light 300*/
@font-face {
    font-family: Ubuntu;
    src: local(Ubuntu), url(../fonts/Ubuntu-Light.woff2) format(woff2), 
    url(../fonts/Ubuntu-Light.ttf) format(ttf);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Ubuntu - Regular 400*/
@font-face {
    font-family: Ubuntu;
    src: local(Ubuntu), url(../fonts/Ubuntu-Regular.woff2) format(woff2), 
    url(../fonts/Ubuntu-Regular.ttf) format(ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Ubuntu - Medium 500*/
@font-face {
    font-family: Ubuntu;
    src: local(Ubuntu), url(../fonts/UbuntuMedium.woff2) format(woff2), 
    url(../fonts/Ubuntu-Medium.ttf) format(ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
